body {
    background-color: #F1FAEE;
    font-family: system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
    margin: 0;
    height: max-content;
}

html {
    font-size: 16px;
  }
    @media (min-width:768px) {
      html {
        font-size: 18px;
      }
    }
  @media (min-width:1024px) {
    html {
      font-size: 19px;
    }
  }
  @media (min-width:1280px) {
    html {
      font-size: 20px;
    }
  }
  
  .header {
    background-color: #F1FAEE;
    text-align: center;
    align-items: center;
    margin:0 auto;
    border: 0;
    padding: 0%;
  }
  
  .header h {
    font-size: 1vw 2vw;
    font-style: italic;
  }
  
  
  .navbar #logo {
    padding-left: 1.25%;
    padding-right: 1.25%;
    width: 3.5vw;
    height: 3.5vw;
    align-self: center;
  }
  
  @media only screen and (max-width: 768px) {
    .navbar #logo {
      /* display: none;
      visibility: hidden; */
      width: 7.5vw;
      height: 7.5vw;
    }
  }
  
  .navbar {
      margin:0 auto;
      border: 0;
      padding: 0%;
      text-align: center;
      background-color: #457B9D;
      display: flex;
      align-items: center;
      width: 100%;
      align-items: center;
    }
  
    .navbar a {
      float: left;
      padding-top: 15vh;
      font-size: 1vw 3vw;
      color: #F1FAEE;
      text-align: center;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 1.25%;
      padding-right: 1.25%;
      text-decoration: none;
    }
  
    .navbar :hover {
      transition: 0.75s;
      color: #1D3557;
      cursor: pointer;
    }
  
    .dropbtn {
      background-color: #457B9D;
      justify-self: left;
      float: left;
      float: left;
      width: fit-content;
      height: fit-content;
      border: none;
      cursor: pointer;
    }
  
    .dropbtn img {
      filter: invert(1);
      width: 2.25vw;
      height: auto;
    }
    
    .dropdown {
      position: relative;
      margin-left: auto;
      margin-right: 0;
    }
    
    .dropdown-content {
      transition: 1s;
      display: none;
      position: absolute;
      left: -246px;
      background-color: #457B9D;
      width: auto;
      box-shadow: 8px 8px 12px 8px #1D3557;
      z-index: 1;
    }
    
    .dropdown-content a {
      display: flex;
      float: left;
      color: #F1FAEE;
      padding: 12px 16px;
      text-decoration: none;
    }
    
    .dropdown-content a:hover {
      background-color: #457B9D;
    }
    
    .dropdown:hover .dropdown-content {
      transition: 1.5s;
      display: flex;
      float: left;
    }
    
    .dropdown:hover .dropbtn {
      transition: 0.75s;
      color: #1D3557;
    }
  
    @media only screen and (max-width: 768px) {
      .dropbtn img {
        width: 3.25vh;
        height: auto;
      }
  
      .dropdown {
        margin-left: auto;
        margin-right: 0;
      }
  
      .dropbtn {
        background-color: #457B9D;
        margin: 0;
        display: flex;
        float: right;
        width: fit-content;
        height: fit-content;
        border: none;
        cursor: pointer;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        left: -67px;
        background-color: #457B9D;
        width: 100px;
        box-shadow: 0px 8px 16px 0px #1D3557;
        z-index: 1;
      }
      
      .dropdown-content a {
        color: #F1FAEE;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
        max-width: max-content;
      }
    }

  .sub-header {
      text-align: center;
      background-color: #A8DADC;
  }

  .sub-header h3 {
      margin: 0;
  }

  .sub-header .red-text {
    font-weight: bold;
    color: #E63946;
    text-decoration: none;
  }

  .sub-header .norm-text {
    font-weight: bolder;
    color: #1D3557;
  }

  .sub-header .norm-text a {
    color: #1D3557;
    text-decoration: none;
  }

  .sub-header .norm-text a:hover {
    transition: 0.45s;
    color: #E63946;
    text-decoration: underline;
  }

  .container {
      background-color: #F1FAEE;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
  }

  .content-strip {
      margin-top: 1vh;
      margin-bottom: 1vh;
      background-color: #1D3557;
      border-style: solid;
      border-width: thin;
      border-top: 0;
      border-bottom: 0;
      border-color: #1D3557;
      width: 75%;
      height: max-content;
  }

  @media only screen and (max-width: 768px) {
    .container {
      width: 100%;
      height: 100%;
  }
  .content-strip {
    width: 100%;
    height: max-content;
  }
}

  .content-strip h1 {
      color: #F1FAEE;
      padding-left: 1vw;
  }

  .car-box {
    background-color: #F1FAEE;
    margin: 1vw;
    padding-top: 0.25vw;
    padding-right: 0.25vw;
    padding-left: 0.25vw;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-color: #1D3557;
    border-width: thick;
    height: auto !important;
    min-height: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .car-img {
    background-repeat: no-repeat;
    width: 50%;
    height: auto;
    float: left;
    overflow: hidden;
  }

  .car-img img {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #1D3557;
  }

  .text-1 {
    width: 50%;
    height: fit-content;
    float: left;
  }

  .text-1 h2 {
    color: #1D3557;
    margin-left: 1vw;
    margin-top: 0;
    text-decoration: none;
  }

  .text-1 a {
    text-decoration: none;
  }

  .text-1 a:hover {
    text-decoration: underline;
  }
  .text-1 h3 {
    color: #1D3557;
    margin-left: 1vw;
    margin-top: 0;
  }
  .text-1 p {
    margin-left: 1vw;
    margin-top: 0;
  }

  .text-1 #price-tag {
    display: flex;
    float: right;
    margin: 1vw;
  }

  @media only screen and (max-width: 768px) {
    .car-img {
      width: 100%;
      height: 60vw;
    }
    .text-1 {
      width: 100%;
    }
  }

  .text-1 #btn1 {
    margin-top: 1vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    border-style: none;
    background-color: #F1FAEE;
  }
  .text-1 #btn1:hover {
    cursor: pointer;
  }

  .text-1 #sale-link:hover {
    text-decoration: none;
  }

  .text-1 #car-title:hover {
    transition: 1.25s;
    color: #E63946;
    text-decoration: underline;
  }

   .footer {
    background-color: #1D3557;
    height: max-content;
    width: 100%;
    bottom: 0;
    overflow: auto;
  }
    
  .left-text {
    background-color: #1D3557;
    float: left;
    width: 50%;
  }
  
  .right-text {
    background-color: #1D3557;
    float: left;
    width: 50%;
  }
    
  .left-text li {
    margin-top: 2.5vh;
    margin-left: 2.5vw;
    color: #F1FAEE;
  }
  
  .left-text a {
    text-decoration: none;
    color: #F1FAEE;
  }
  
  .left-text a:hover {
    text-decoration: none;
    color: #457B9D;
  }
  
  .right-text p {
    margin-right: 2.5vw;
    color: #F1FAEE;
    padding-left: 2.5vw;
  }
  
  @media only screen and (max-width: 768px) {
    .left-text {
      top: 0;
      width: 100%;
      height: fit-content;
    }
    .right-text {
      top: 0;
      width: 100%;
      height: fit-content;
    }
  }
    
      