
body {
    background-color: #F1FAEE;
    font-family: system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
    margin: 0;
    height: max-content;
}
html {
  font-size: 16px;
}
  @media (min-width:768px) {
    html {
      font-size: 18px;
    }
  }
@media (min-width:1024px) {
  html {
    font-size: 19px;
  }
}
@media (min-width:1280px) {
  html {
    font-size: 20px;
  }
}

.header {
  background-color: #F1FAEE;
  text-align: center;
  align-items: center;
  margin:0 auto;
  border: 0;
  padding: 0%;
}

.header h {
  font-size: 1vw 2vw;
  font-style: italic;
}


.navbar #logo {
  padding-left: 1.25%;
  padding-right: 1.25%;
  width: 3.5vw;
  height: 3.5vw;
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .navbar #logo {
    /* display: none;
    visibility: hidden; */
    width: 7.5vw;
    height: 7.5vw;
  }
}

.navbar {
    margin:0 auto;
    border: 0;
    padding: 0%;
    overflow: hidden;
    text-align: center;
    background-color: #457B9D;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    align-items: center;
  }

  .navbar a {
    float: left;
    padding-top: 15vh;
    font-size: 1vw 3vw;
    color: #F1FAEE;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1.25%;
    padding-right: 1.25%;
    text-decoration: none;
  }

  .navbar :hover {
    color: #1D3557;
    cursor: pointer;
  }

  .parallax {
    background-image: url("images/viper-dodge.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .parallax-text h {
    color: #F1FAEE;
    font-weight: bolder;
    display: block;
    padding: 12px;
    font-size: 7.5vw;
    text-align: left;
  }

  .content-1 {
    background-color: #F1FAEE;
    height: max-content;
    width: 100%;
  }

  .content-1 h1 {
    color: #1D3557;
    text-align: center;
    font-weight: bold;
  }

  .text-1 {
    float: left;
    width: 50%;
  }
  .text-2 {
    float: left;
    width: 50%;
  }
  .text-1  h2 {
    color: #1D3557;
    padding-left: 4%;
    padding-right: 4%;
    overflow: hidden;
  }
  .text-1 p {
    font-size: 1vw 3vw;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    overflow: hidden;
  }
  .text-2  h2 {
    color: #1D3557;
    padding-left: 4%;
    padding-right: 4%;
  }

  .text-2 p {
    font-size: 1vw 3vw;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    overflow: hidden;
  }

  @media only screen and (max-width: 768px) {
    .text-1 {
      top: 0;
      width: 100%;
      height: fit-content;
    }
    .text-2 {
      top: 0;
      width: 100%;
      height: fit-content;
    }
  }

  .sales {
    background-color: black;
    opacity: 1;
    height: max-content;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-txt {
    height: max-content;
    width: 50%;
    float: left;
  }

  .image-txt h {
    color: #F1FAEE;
    font-weight: bolder;
    opacity: 1;
    font-size: 10vh;
    padding-left: 4%;
    padding-right: 4%;
  }

  .image-txt p {
    color: #F1FAEE;
    opacity: 1;
    font-size: 3vh;
    padding-left: 4%;
    padding-right: 4%;
  }

  .image-btn {
    height: 25vh;
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: right;
  }

  .image-btn #link-sales {
    margin-right: 2.5vw;
    border-color: #F1FAEE;
    border-style: solid;
    color: #F1FAEE;
    padding: 1vw 1vh;
    text-align: center;
    text-decoration: none;
    font-weight: initial;
    font-size: 2.5vw;
  }

  @media only screen and (max-width: 768px) {
    .image-btn #link-sales {
      text-align: center;
      text-decoration: none;
      font-weight: initial;
      font-size: 5vw;
    }
  }

  .sales #link-sales:hover {
    color: rgb(0, 0, 0);
    transition: 1s;
    text-decoration: none;
    background-color: #F1FAEE;
  }

  .image-sales {
    background-image: url("images/cars-parked.png");
    transition: 1s;
    height: max-content;
    width: 100vw;
    height: auto;
    filter: brightness(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
  }

  .image-sales:hover {
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    filter: brightness(100%);
  }
  
  .content-2 {
    background-color: #F1FAEE;
    height: max-content;
    width: 100%;
    float: left;
  }

  .text-3 {
    margin-top: 2.5vh;
    float: left;
    width: 50%;
  }
  .text-3  h2 {
    color: #1D3557;
    padding-left: 4%;
    padding-right: 4%;
  }

  .text-3 p {
    font-size: 1vw 3vw;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    overflow: hidden;
  }

  .mot {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    float: left;
    background-color: black;
    opacity: 1;
    height: 45vh;
    width: 50%;
    overflow: hidden;
    padding-top: 2%;
    text-align: center;
  }

  .image-mot h {
    color: #F1FAEE;
    font-weight: bolder;
    opacity: 1;
    font-size: 10vh;
  }

  .image-mot p {
    margin-left: 1.5vw;
    margin-left: 1.5vw;
    color: #F1FAEE;
  }

  @media only screen and (max-width: 768px) {
    .mot {
      height: 10vh;
    }
  }

  .image-mot {
    background-image: url("images/viper-engine.jpg");
    transition: 1s;
    height: 100%;
    width: 100%;
    filter: brightness(35%);
  }

  .image-mot:hover {
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    filter: brightness(75%);
  }

  .image-mot a {
    text-decoration: none;
    height: 100%;
    width: 100%;
  }
  
  @media only screen and (max-width: 768px)
  {
    .text-3 {
      top: 0;
      width: 100%;
      height: fit-content;
    }
    .mot {
      top: 0;
      width: 100%;
      height: fit-content;
    }
  }

  .footer {
    margin-top: 2.5vh;
    background-color: #1D3557;
    height: max-content;
    width: 100%;
    bottom: 0;
    overflow: auto;
  }
  
  .left-text {
    background-color: #1D3557;
    float: left;
    width: 50%;
  }

  .right-text {
    background-color: #1D3557;
    float: left;
    width: 50%;
  }
  
  .left-text li {
    margin-top: 2.5vh;
    margin-left: 2.5vw;
    color: #F1FAEE;
  }

  .left-text a {
    text-decoration: none;
    color: #F1FAEE;
  }

  .left-text a:hover {
    text-decoration: none;
    color: #457B9D;
  }

  .right-text p {
    margin-right: 2.5vw;
    color: #F1FAEE;
    padding-left: 2.5vw;
  }

  @media only screen and (max-width: 768px)
  {
    .left-text {
      top: 0;
      width: 100%;
      height: fit-content;
    }
    .right-text {
      top: 0;
      width: 100%;
      height: fit-content;
    }
  }
  